<body>
  <div id="main">
    <%= render 'author' if %r"^/blogs/.*/$" =~ @item.identifier %>
    <%= yield %>
  </div>
  <div id="sidebar">
    <div id="banner">
      <a href="/"><img src="/banner.png" alt="Начална страница"/></a>
    </div>
    <h2>За проекта</h2>
    <ul>
      <li><a href="/about/">Кои сме ние</a></li>
      <li><a href="/contact/">Връзка с нас</a></li>
    </ul>
    <h2>Разказвачи</h2>
    <ul>
      <% @items['/blogs/'].children.sort_by { |blog| blog[:title] }.each do |blog| %>
        <li><a href= <%= blog.identifier %> ><%= blog[:title].split(' ')[0] + ' (' + blog[:country] + ')' %></a></li>
      <% end %>
    </ul>
  </div>
</body>
