<div class='license'>
  <a class='nounder' style="float: left; margin-top: 10px; margin-down: 10px;" rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0;display:block;margin-left:auto;margin-right:auto;" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
  <div class='small' >
    Съмишленици <a class="nounder" href="http://en.wikipedia.org/wiki/Copyleft"><span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">&copy;</span></a> 2009&#150;2013 Петър Иванов.<br /> 
    Информацията на този сайт и на повечето от цитираните блогове е лицензирана под <a class="under" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. Използвайте на воля, но цитирайте по име и с линк. За уточнение на допълнителни въпроси, свържете се със съответния автор<br />
  </div>
</div>
