<div id="sidebar">
  <div id="banner">
    <a href="/"><img src="/banner.png" alt="Начална страница"/></a>
  </div>
  <h2>За проекта</h2>
  <ul>
    <% for it in ["/about/", "/goals/", "/contacts/"] %>
      <li><a href=<%= it %>><%= @items[it][:title] %></a></li>
    <% end %>
  </ul>
  <h2>Разказвачи</h2>
  <ul>
    <% @items['/blogs/'].children.sort_by { |blog| blog[:title] }.each do |blog| %>
      <li><a href= <%= blog.identifier %> ><%= blog[:title].split(' ')[0] + ' (' + blog[:country] + ')' %></a></li>
    <% end %>
  </ul>
</div>
