<div id="sidebar">
  <div id="banner">
    <a class='nounder' href="/"><img src="/banner.png" alt="Начална страница"/></a>
  </div>
  <h2>Дружина</h2>
  <ul>
    <% for it in ["/about/", "/goals/", "/contacts/"] %>
      <li><a class="novisited" href=<%= it %>><%= @items[it][:title] %></a></li>
    <% end %>
  </ul>
  <h2>Съмишленици</h2>
  <ul>
    <% @items['/blogs/'].children.sort_by { |blog| blog[:country] + blog[:title] }.each do |blog| %>
      <% if !blog[:hide] %>
        <li><a class="novisited" href= <%= blog.identifier %> >
          <%= shortname(blog) + ' (' + blog[:country] + ')' %>
        </a></li>
      <% end %>
    <% end %>
  </ul>
</div>
